<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="dialect">cysewska.com.configuration.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:mydb.db</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>

        <property name="hibernate.hbm2ddl.auto">update</property>


        <mapping class="cysewska.com.entities.UsersEntity"/>
        <mapping class="cysewska.com.entities.BranchEntity"/>
        <mapping class="cysewska.com.entities.ClothEntity"/>
        <mapping class="cysewska.com.entities.DepartmentEntity"/>
        <mapping class="cysewska.com.entities.InvoiceEntity"/>
        <mapping class="cysewska.com.entities.ModelEntity"/>
        <mapping class="cysewska.com.entities.OrderEntity"/>
        <mapping class="cysewska.com.entities.Textile_Cloth_Entity"/>
        <mapping class="cysewska.com.entities.TextileEntity"/>

    </session-factory>
</hibernate-configuration>
